#awards {
    width: 100%;
    margin: 60px 0;

    .awards-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;

        h2 {
            color: $mainColor;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .awards-card {
        width: 100%;
        max-width: 350px;
        // height: 470px;
        border: 1px solid $borderColor;
        margin: 0 20px;
        flex-shrink: 0;
        border-radius: 5px;
        overflow: hidden;
        z-index: 100;
        transition: box-shadow .4s ease-in-out, background-color linear;

        &:hover {
            background-color: $textColor;
            box-shadow: 0px 36px 40px -15px rgba(12, 43, 67, 0.07);
        }

        .card-text {
            padding: 28px;

            .categories {
                display: flex;
            }

            h3{
                font-size: 16px;
            }

            p {
                font-size: 14px;
                color: $bodyColor;
                margin: 0 0 4px;
                font-weight: bold;
            }
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .logo-area {
       height: 52px;
       
       img {
           border-radius: 6px 0 0 6px;
            max-height: 100%;
            padding: 20px;
        }
    }

    .awards-slider-container {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .awards-slider-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .awards-slider {
        cursor: grab;
        display: flex;
        transition: transform 0.7s ease;
        flex-wrap: nowrap;
    }

    .awards-controls {
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .awards-scrollbar {
        width: 80%;
        height: 2.5px;
        background-color: $borderColor;
        border-radius: 6px;
        position: relative;
        margin: 0 10px;
        flex-grow: 1;
        cursor: pointer;
    }

    .awards-thumb {
        height: 100%;
        background-color: $tbcBlue;
        border-radius: 8px;
        position: absolute;
        transition: left 0.7s ease;
        cursor: grab;
    }

    button {
        background-color: $back;
        color: $tbcBlue;
        border: none;
        cursor: pointer;
        margin: 10px;
        font-size: 18px;
        border-radius: 5px;
    }
}
