header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: $textColor;
    border-bottom: 1px solid #eef1f1;
    

    .container{
        flex-direction: row !important;
    }

    img {
        height: 30px;
        margin-top: 10px;
        max-width: 100%;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: medium;

        .nav-item {
            color: $navColor;
            cursor: pointer;
            transition: color 0.3s;
            font-size: 14px;
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 15px;

        .fa-magnifying-glass {
            font-size: 24px;
            color: $gray;
            transition: color 0.3s;

            &:hover {
                color: $hoverColor;
            }
        }

        .fa-arrow-right {
            font-size: 20px;
            color: $tbcBlue;
            transition: color 0.3s;

            &:hover {
                color: $hoverColor;
            }
        }

        .order {
            color: $tbcBlue;
            cursor: pointer;
            transition: color 0.3s;
            font-weight: bold;

            &:hover {
                color: $hoverColor;
            }
        }
    }

    .header_menu_buttons{
        grid-row-gap: 5px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8px;
        transition: color .25s;
        display: none;
        position: relative;

        .header_menu_buttons-line-1 {
            width: 11px;
            height: 2px;
            transform-origin: 100%;
            background-color: $appText;
            border-radius: 1px;
        }
        .header_menu_buttons-line-2 {
            width: 20px;
            height: 2px;
            background-color: $appText;
            border-radius: 1px;
        }
        .header_menu_buttons-line-3 {
            width: 15px;
            height: 2px;
            transform-origin: 100% 100%;
            background-color: $appText;
            border-radius: 1px;
        }
        
    }

    .updated-page{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        width: 100%;

        
        .default{
            padding-top: 80px;

            .header {
                z-index: 100;
                height: 80px;
                background-color: #fff;
                border-bottom: 1px solid #eef1f1;
                padding-left: 47px;
                padding-right: 47px;
                position: fixed;
                top: 0;
                bottom: auto;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 30px;
                    margin-top: 10px;
                    max-width: 100%;
                }
                
                .header-right{
                    display: flex;
                    margin-left: auto;
                    align-items: center;
                    grid-column-gap: 16px;
                    margin-right: 271.825px;
                    
                    svg{
                        color: $bodyColor;
                    }
                }
            }
        }

        .header_menu-button.active .header_menu-button-line-1[data-v-562b0aec] {
            transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(-45deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            width: 20px;
            height: 2px;
        }

        .header_menu-button.active .header_menu-button-line-2[data-v-562b0aec] {
            opacity: 0;
        }

        .header_menu-button.active .header_menu-button-line-3[data-v-562b0aec] {
            transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(45deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            width: 20px;
            height: 2px;
        }

        .header_menu-button-line-2 {
            width: 20px;
            height: 2px;
            background-color: #555f62;
            border-radius: 1px;
        }


    }
}


@media screen and (max-width: 991px) {
    nav{
        display: none;
        * {
            display: none;
        }
    }

    // main{
    //     *{
    //         display: none !important;
    //     }
    // }

    // footer{
    //     .footer-header, .footer-main{
    //         *{
    //             display: none;
    //         }
    //     }
    // }

    .header{
        padding-left: 45px;
        padding-right: 45px;
    }

    .header_menu_buttons{
        display: flex !important;
    }

    .header_menu_button{
        display: flex !important;
    }
}

@media (max-width: 768px) {

    nav{
        display: none;
        * {
            display: none;
        }
    }
    
    // main{
    //     *{
    //         display: none !important;
    //     }
    // }

    // footer{
    //     .footer-header, .footer-main{
    //         *{
    //             display: none;
    //         }
    //     }
    // }
    
    .header{
        padding-left: 45px;
        padding-right: 45px;
    }
    
    .header_menu_buttons{
        display: flex !important;
    }
    
    .header_menu_button{
        display: flex !important;
    }

    // header {
    //     flex-direction: column;
    //     align-items: flex-start;
    //     padding: 10px;
        
    //     img {
    //         margin-left: 0; 
    //         margin-bottom: 10px; 
    //     }

    //     nav {
    //         flex-direction: column;
    //         gap: 10px;
    //         font-size: small;
    //         align-items: flex-start;
    //     }

    //     .header-right {
    //         gap: 10px;
    //         align-self: stretch;
    //         justify-content: space-between;

    //         .fa-magnifying-glass,
    //         .fa-arrow-right {
    //             font-size: 18px; 
    //         }

    //         .fa-globe {
    //             font-size: 16px; 
    //         }
    //     }
    // }

}