.main {
    position: relative;
    text-align: left;
    // overflow: hidden;
    border-radius: 10px;
    // margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 100%;

    .image-wrapper{
        min-height: 360px;
        background-image: url("../Assets/TBC_Concept.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        // opacity: 0.8;
    }

    .main-title {
        text-align: left;
        font-size: 12px;
        margin: 10px 0 50px 0;
        color: $mainColor;
        width: 100%;
        font-size: small;
    }

    .main-image {
        width: 100%;
        // height: 376px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        // min-height: 360px;
        opacity: .7;
    }

    .main-text {
        width: 80%;
        

        h1 {
            font-size: 24px;
            // margin-bottom: 20px;
            color: $textColor;
            font-weight: 700;
            // margin-top: 75px;
        }

        p {
            font-size: 15px;
            // margin-bottom: 20px;
            color: $textColor;
            max-width: 60%;
            // font-weight: bold;
        }
    }

    .big-text{
        color: $mainColor;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.5;
        padding: 120px 0;
        // width: 70%;
    }

}


@media (max-width: 768px) {
    .main {
        .main-title {
            font-size: 12px;
            margin-bottom: 10px;
            width: 95%;
        }

        .main-image {
            height: auto; 
        }

        .main-text {
            max-width: 90%; 
            padding: 15px;
            
            h1 {
                font-size: 18px; 
                margin-bottom: 10px;
            }

            p {
                font-size: 14px; 
                margin-bottom: 40px;
            }

            .main-button {
                padding: 6px 12px; 
                font-size: 12px; 
            }
        }

    }
}