@import "./variables";
@import "./header";
@import "./mainSection";
@import "./chooseNakrebi";


body {
    font-family: "Noto Sans Georgian", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

main{
    background-color:whitesmoke;
}


