@import "./variables";
@import "./header";
@import "./mainSection";
@import "./chooseNakrebi";
@import "./statistics";
@import "./offers";


body {
    font-family: "Noto Sans Georgian", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: $bodyColor;
    background-color: $back;
    display: block;
    margin: 0;
    padding: 0;
}

main{
    background-color:whitesmoke;
}


